<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_dynamics_gazebo" params="name wavefield_size:=1000">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo>
      <!-- Left hull -->
      <plugin
        filename="libSurface.so"
        name="vrx::Surface">
        <link_name>${namespace}/base_link</link_name>
        <hull_length>4.9</hull_length>
        <hull_radius>0.213</hull_radius>
        <fluid_level>0</fluid_level>
        <points>
          <point>0.6 1.03 0</point>
          <point>-1.4 1.03 0</point>
        </points>
      </plugin>

      <!-- Right hull -->
      <plugin
        filename="libSurface.so"
        name="vrx::Surface">
        <link_name>${namespace}/base_link</link_name>
        <hull_length>4.9</hull_length>
        <hull_radius>0.213</hull_radius>
        <fluid_level>0</fluid_level>
        <points>
          <point>0.6 -1.03 0</point>
          <point>-1.4 -1.03 0</point>
        </points>
      </plugin>

      <plugin
        filename="gz-waves1-hydrodynamics-system"
        name="gz::sim::systems::Hydrodynamics">

        <!-- Or apply hydrodynamics to named links -->
        <enable>${namespace}::base_link</enable>
        <!-- Hydrodynamics -->
        <hydrodynamics>
          <damping_on>1</damping_on>
          <viscous_drag_on>1</viscous_drag_on>
          <pressure_drag_on>1</pressure_drag_on>

          <!-- Linear and Angular Damping -->  
          <cDampL1>1.0E-6</cDampL1>
          <cDampL2>1.0E-6</cDampL2>
          <cDampR1>1.0E-6</cDampR1>
          <cDampR2>1.0E-6</cDampR2>

          <!-- 'Pressure' Drag -->
          <cPDrag1>1.0E+2</cPDrag1>
          <cPDrag2>1.0E+2</cPDrag2>
          <fPDrag>0.4</fPDrag>
          <cSDrag1>1.0E+2</cSDrag1>
          <cSDrag2>1.0E+2</cSDrag2>
          <fSDrag>0.4</fSDrag>
          <vRDrag>1.0</vRDrag>
        </hydrodynamics>

      </plugin>

    </gazebo>
  </xacro:macro>
</robot>
