<?xml version="1.0"?>
<!-- Basic WAM-V with gazebo plugins for dynamics -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="WAM-V">
  <!-- Parâmetro global de escala para o WAMV -->
  <xacro:arg name="wamv_scale" default="0.5" />
  <xacro:property name="wamv_scale" value="$(arg wamv_scale)" scope="global" />

  <xacro:arg name="locked" default="false" />
  <xacro:arg name="thruster_config" default="H" />
  <xacro:arg name="camera_enabled" default="false" />
  <xacro:arg name="gps_enabled" default="false" />
  <xacro:arg name="imu_enabled" default="false" />
  <xacro:arg name="lidar_enabled" default="false" />
  <xacro:arg name="ground_truth_enabled" default="true" />
  <xacro:arg name="vrx_sensors_enabled" default="false" />
  <xacro:arg name="pinger_enabled" default="false" />
  <xacro:arg name="ball_shooter_enabled" default="false" />
  <xacro:arg name="thruster_namespace" default="thrusters/"/>
  <xacro:arg name="camera_namespace" default="cameras/"/>
  <xacro:arg name="sensor_namespace" default="sensors/"/>
  <xacro:arg name="acoustic_namespace" default="acoustics/"/>
  <xacro:arg name="shooter_namespace" default="shooters/"/>
  <!-- Note: this is only used for some sensors that do not correctly use the
  robotNamespace parameter -->
  <xacro:arg name="namespace" default="wamv"/>
  <xacro:property name="thruster_namespace" value="$(arg thruster_namespace)" scope="global" />
  <xacro:property name="camera_namespace" value="$(arg camera_namespace)" scope="global" />
  <xacro:property name="sensor_namespace" value="$(arg sensor_namespace)" scope="global" />
  <xacro:property name="acoustic_namespace" value="$(arg acoustic_namespace)" scope="global" />
  <xacro:property name="shooter_namespace" value="$(arg shooter_namespace)" scope="global" />
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Sensor yaml file -->
  <xacro:arg name="yaml_component_generation" default="false"/>
  <xacro:arg name="component_xacro_file" default = ""/>

  <!-- Thruster yaml file -->
  <xacro:arg name="yaml_thruster_generation" default="false"/>
  <xacro:arg name="thruster_xacro_file" default = ""/>

  <!-- === The WAM-V platform === -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/wamv_gazebo.xacro"/>

  <!-- === Batteries === -->

  <!-- === Thrusters === -->
  <!-- Use thruster yaml file if given -->
  <xacro:if value="$(arg yaml_thruster_generation)">
    <xacro:wamv_gazebo thruster_layout="$(arg thruster_xacro_file)"/>
  </xacro:if>

  <!-- Otherwise, add thrusters based on thruster_config variable -->
  <xacro:unless value="$(arg yaml_thruster_generation)">
    <xacro:property name="thruster_conf" value="$(arg thruster_config)"/>

    <!-- Default WAM-V with two aft thrusters -->
    <xacro:if value="${thruster_conf == 'H'}">
       <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_aft_thrusters.xacro"/>
    </xacro:if>

    <!-- WAMV with "T" thruster configuration -->
    <xacro:if value="${thruster_conf == 'T'}">
      <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_t_thrusters.xacro"/>
    </xacro:if>

    <!-- WAMV with "X" thruster configuration -->
    <xacro:if value="${thruster_conf == 'X'}">
      <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_x_thrusters.xacro"/>
    </xacro:if>
  </xacro:unless>

  <!-- === [Un]lock the robot to the world === -->
  <gazebo>
    <plugin filename="gz-sim-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
      <parent_link>$(arg namespace)/base_link</parent_link>
      <child_model>platform</child_model>
      <child_link>dummy_upper</child_link>
      <topic>/vrx/release</topic>
      <suppress_child_warning>true</suppress_child_warning>
    </plugin>
  </gazebo>

  <!-- === TF === -->
  <!-- Publish robot state information -->
  <gazebo>
    <plugin filename="libgz-sim-pose-publisher-system.so"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>false</publish_link_pose>
      <publish_sensor_pose>true</publish_sensor_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_nested_model_pose>false</publish_nested_model_pose>
      <publish_model_pose>false</publish_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>false</static_publisher>
      <static_update_frequency>1</static_update_frequency>
    </plugin>

    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>


  <!-- === Sensors === -->
  <!-- Use sensor yaml file if given -->
  <xacro:if value="$(arg yaml_component_generation)">
    <xacro:include filename="$(arg component_xacro_file)"/>
    <xacro:yaml_components />

  </xacro:if>

  <!-- Otherwise, add sensors based on enable variables -->
  <xacro:unless value="$(arg yaml_component_generation)">
    <!-- Add a front camera -->
    
    <xacro:wamv_camera name="right_camera" y="-0.45" x="0" P="${radians(30)}" Y="${radians(-90)}" post_Y="${radians(-90)}" />
    <xacro:wamv_camera name="left_camera" y="0.45" x="0" P="${radians(30)}" Y="${radians(90)}" post_Y="${radians(90)}" />
    <xacro:wamv_camera name="front_camera" y="0" x="0.85" P="${radians(30)}" Y="${radians(0)}" post_Y="${radians(0)}" />
    <xacro:wamv_camera name="back_camera" y="0" x="-0.85" P="${radians(30)}" Y="${radians(-180)}" post_Y="${radians(-180)}" />


    <!-- Add simulated GPS -->
    <xacro:if value="$(arg gps_enabled)">
      <xacro:wamv_gps name="gps_wamv" x="-0.85" />
    </xacro:if>

    <!-- Add Simulated IMU -->
    <xacro:if value="$(arg imu_enabled)">
      <xacro:wamv_imu name="imu_wamv" y="-0.2" />
    </xacro:if>

    <!-- Add P3D ground truth -->
    <xacro:if value="$(arg ground_truth_enabled)">
      <xacro:wamv_p3d name="p3d_wamv"/>
    </xacro:if>


    <!-- ==== VRX sensor configuration ==== -->
    <xacro:if value="$(arg vrx_sensors_enabled)">

      <!-- Add CPU Cases -->
      <!-- Add Containment Boom -->
      <xacro:include filename="$(find wamv_description)/urdf/boom.xacro" />
      <xacro:containment_boom position="2.6 0 2" orientation="0 0 ${radians(90)}"/>
      <xacro:include filename="$(find wamv_description)/urdf/detect_radius.xacro" />
      <xacro:detect_radius position="0 0 2" orientation="0 0 ${radians(90)}"/>
      <!-- Add simulated GPS -->
      <xacro:wamv_gps name="gps_wamv" x="0" />

      <!-- Add Simulated IMU -->
      <xacro:wamv_imu name="imu_wamv" y="-0.2" />

    </xacro:if>

  </xacro:unless>

</robot>
